.add-tourist {
    padding: 20px;
}

.add-tourist form {
    background-color: white;
    padding: 20px;
}

.add-tourist label {
    color: rgba(104,104,103,255);

}

.add-tourist input,
.add-tourist textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.add-tourist button {
    font-weight: bold;
    color: white;
    border: none;
    padding: 5px;
}

#btnConfirmar {
    background: #0e355f;
}

#btnCancelar {
    background: #a0a0a3cc;
}
