.add-user {
    padding: 20px;
}

.add-user form {
    background-color: white;
    padding: 20px;
}

.add-user label {
    color: rgba(104,104,103,255);
    font-weight: bold;
}

.add-user h1 {
    text-align: center;
}

.add-user input,
.add-user textarea,
.add-user select {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 1em;
    margin-left: 0px;
}

.add-user button {
    font-weight: bold;
    color: white;
    border: none;
    padding: 5px;
}

#btnConfirmar {
    background: #0e355f;
}

#btnTenhoLogin {
    background: #a0a0a3cc;
}

.required {
    color: black !important;
}

.required::after {
    content: ' *';
    color: red;
}