.header {
    padding: 10px;
    background-color: #0e355f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
    font-size: 1.8em;
}

.header nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header nav a:hover {
    text-decoration: underline;
}