.login-user {
    padding: 20px;
}

.login-user form {
    background-color: white;
    padding: 20px;
    margin-top: 15%;
}

.login-user label {
    color: rgba(104,104,103,255);
    font-weight: bold;
}

.login-user h1 {
    text-align: center;
}

.login-user input,
.login-user textarea,
.login-user select {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 1em;
    margin-left: 0px;
}

.login-user button {
    font-weight: bold;
    color: white;
    border: none;
    padding: 5px;
}

#btnLogar {
    background: #0e355f;
}

#btnSemCadastro {
    background: #a0a0a3cc;
}

.required {
    color: black !important;
}

.required::after {
    content: ' *';
    color: red;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}